* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Okra, Helvetica, sans-serif;
	background-color: ghostwhite;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 150px;
	background-color: rgb(242, 255, 0);
}

.logo {
	width: 100px;
	margin: 10px;
	border-radius: 50%;
	margin-left: 40px;
}

.nav-links {
	margin-right: 50px;
}
.nav-links > ul {
	display: flex;
}
.nav-links > ul > li {
	margin: 15px;
	list-style-type: none;
	font-size: 22px;
	cursor: pointer;
}

#body {
	margin: 20px;
}

.search > form {
	display: flex;
	justify-content: center;
	align-items: center;
}
.search > form > input {
	width: 300px;
	padding: 15px;
	font-size: 18px;
	outline: none;
}
.search > form > button {
	padding: 15px;
	font-size: 18px;
	cursor: pointer;
}

.restaurent-card {
	padding: 15px;
	width: 250px;
	/* min-height: max-content; */
	text-align: center;
	margin: 10px;
	box-sizing: border-box;
	/* transition: border 1s; */
	border-radius: 10px;
}
.restaurent-card > h3,
.restaurent-card > h4,
.restaurent-card > div {
	margin-top: 10px;
}
.restaurent-card:hover {
	border: 1px solid rgb(232, 232, 232);
	cursor: pointer;
	background-color: white;
	/* background-color: rgba(0, 0, 0, 0.8);
	color: white; */
	/* background-color: rgba(245, 241, 4, 0.5); */
	/* scale: 1.05; */
	box-shadow: rgba(28, 28, 28, 0.12) 0px 0.4rem 1.8rem;
}
.restaurent-img {
	border-radius: 5px;
	width: 220px;
	height: 200px;
}

h4 {
	max-width: 100%;
	padding: 10px;
	word-wrap: break-word;
}

.res-container {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
}
